# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store
